* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.profile-title {
  text-align: center;
}

.card {
  align-items: center;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  max-width: 300px;
  margin: auto;
  text-align: center;
  padding-bottom: 10px;
}
.profile-picture {
  height: 300px;
  object-fit: scale-down;
}
.profile-picture1 {
  width: 500px;
  height: 500px;
  object-fit: cover;
  opacity: 0.6;
}
.fa-dribbble,
.fa-twitter,
.fa-linkedin,
.fa-facebook {
  font-size: 30px;
}

.primary-button {
  margin: 50px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
}
.div-parent {
  background: linear-gradient(
    to top right,
    rgba(42, 54, 56, 1),
    rgb(185, 89, 100),
    rgb(129, 53, 48),
    rgba(153, 184, 152, 1)
  );
}
.div-Subparent {
  position: relative;
  position: relative;
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
}
.box {
  position: absolute;
  height: 50px;
  width: 50px;
}

.div-a {
  width: 700px;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 80px;
  height: 500px;
  z-index: 1;
  margin-top: 150px;
  opacity: 1.5;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}
.div-b {
  width: 83%;
  position: absolute;
  top: 20px;
  left: 130px;
  height: 500px;
  margin-top: 200px;
  opacity: 1.5;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
nnavigation bar styles .header {
  align-items: center;
  align-items: center;
  font-size: 24px;
}
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  padding-left: 70%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
